<aside>
  <header routerLink="inicio">
    <div class="cont-img">
      <img src="Logoch.png" alt="logo">
    </div>
    <h1>Laboratorio</h1>
  </header>
  <nav>
    <ul>
      <li><a routerLink="inicio" routerLinkActive="active-link"><i class="fas fa-home"></i> Inicio</a></li>
      <li><a routerLink="reactivos" routerLinkActive="active-link"><i class="fas fa-flask"></i> Reactivos</a></li>
      <li><a routerLink="equipos" routerLinkActive="active-link"><i class="fas fa-cogs"></i> Equipos</a></li>
      <!-- <li><a routerLink="stock" routerLinkActive="active-link"><i class="fas fa-boxes"></i> Stock</a></li> -->
      <li><a *ngIf="userRole === 'admin' || userRole === 'mod' " routerLink="reportes" routerLinkActive="active-link"><i
            class="fas fa-chart-line"></i> Reportes</a></li>
      <li><a *ngIf="userRole === 'admin'" routerLink="usuarios" routerLinkActive="active-link"><i
            class="fas fa-users"></i> Usuarios</a></li>
      <li><a *ngIf="userRole === 'admin' || userRole === 'mod' " routerLink="categorias"
          routerLinkActive="active-link"><i class="fas fa-tags"></i> Categorías</a></li>
    </ul>
  </nav>
  <footer>
    <div class="botones">
      <a class="config" href="/configuracion"><i class="fas fa-cog"></i> Configuración</a>
      <a class="logout" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
    </div>
  </footer>
</aside>