<aside>
  <header>
    <div class="cont-img">
      <img src="" alt="">
    </div>
    <h1>Laboratorio</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/inicio"><i></i>Inicio</a></li>
      <li><a href="/reactivos">Reactivos</a></li>
      <li><a href="/equipos">Equipos</a></li>
      <li><a href="/stock">Stock</a></li>
      <li><a href="/reportes">Reportes</a></li>
      <li><a href="/usuarios">Usuarios</a></li>
    </ul>
  </nav>
  <footer>
    <div class="config">
      <a href="/configuracion"><i></i>Configuración</a>
    </div>
    <div class="logout">
      <a href="/logout"><i></i>Cerrar sesión</a>
    </div>
  </footer>
</aside>