<div class="container">
  <div class="left-panel">
    <div class="content">
      <img src="Logoch.png" alt="logo">
    </div>
  </div>
  <div class="right-panel">
    <div class="form-container">
      <div class="header">
        <h3>Inicio de sesión</h3>
        <p>Bienvenido! Ingresa tus credenciales.</p>
      </div>
      <form (ngSubmit)="login()">
        <div class="form-group">
          <input [(ngModel)]="identifier" name="identifier" type="text" placeholder="Email" required>
        </div>
        <div class="form-group">
          <input [(ngModel)]="password" name="password" [type]="showPassword() ? 'text' : 'password'"
            placeholder="Contraseña" required>
          <div class="toggle-password" (click)="togglePasswordVisibility()">
            <!-- SVGs para mostrar/ocultar contraseña -->
          </div>
          <div class="forgot-password">
            <a href="#" (click)="openResetPasswordModal($event)">¿Olvidaste tu contraseña?</a>
          </div>
        </div>
        <button type="submit">Acceder</button>
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal para restablecer contraseña -->
<div class="modal" *ngIf="isResetPasswordModalOpen">
  <div class="modal-content">
    <span class="close" (click)="closeResetPasswordModal()">&times;</span>
    <h3>Restablecer Contraseña</h3>
    <p>Ingresa tu correo electrónico para enviar un enlace de recuperación.</p>
    <form #resetPasswordForm="ngForm" (ngSubmit)="sendPasswordResetEmail(resetPasswordForm)">
      <div class="form-group">
        <input [(ngModel)]="resetEmail" name="resetEmail" type="email" placeholder="Correo electrónico" required email
          #resetEmailField="ngModel">
        <!-- Mensajes de error -->
        <div *ngIf="resetEmailField.invalid && resetEmailField.touched" class="error-message">
          <p *ngIf="resetEmailField.errors?.['required']">El correo electrónico es obligatorio.</p>
          <p *ngIf="resetEmailField.errors?.['email']">Ingresa un correo electrónico válido.</p>
        </div>
      </div>
      <button type="submit" [disabled]="resetPasswordForm.invalid">Enviar</button>
    </form>
    <div *ngIf="resetPasswordMessage" class="success-message">
      {{ resetPasswordMessage }}
    </div>
    <div *ngIf="resetPasswordError" class="error-message">
      {{ resetPasswordError }}
    </div>
  </div>
</div>