$color-logo: #02182b;
$hover: #635252;
$btn: #003b5c;
$btn-hover: #004974;
$link-activo: #5c5b6e;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  margin-right: 0.7rem;

  .btn-search {
    border: none;
    background: none;

    i {
      font-size: 1.5rem;
      color: #6f6f6f;
    }

    &:focus {
      outline: none; // Asegura que no haya borde cuando el botón está enfocado
    }
  }

  input {
    // position: absolute;
    // margin-right: -2rem;
    width: 20rem;
    padding: 0.3rem 0.625rem;
    border: 2px solid #cccccc50;
    border-radius: 0.2rem;
  }
}

.user-dropdown {
  position: relative;
  display: inline-block;

  .user-image-container {
    border: 0.1rem solid;
    border-radius: 50%;
    // padding: 0.1rem;
    overflow: hidden; // Oculta el overflow de la imagen
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover; // Asegura que la imagen se ajuste bien al contenedor
      cursor: pointer;
    }
  }

  .user-dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 14rem;
    box-shadow: 0px 0.5rem 1rem 0px rgba(0, 0, 0, 0.2); // 0px 8px 16px 0px
    z-index: 1;
    border-radius: 0.2rem;

    hr {
      margin: 0;
    }

    a {
      color: black;
      padding: 0.75rem 1rem; // 12px 16px
      text-decoration: none;
      display: block;

      &:hover {
        background-color: #f1f1f1;
        cursor: pointer;
      }
    }
  }

  &:hover .user-dropdown-content {
    display: block;
  }
}
